<html>
    <head>
        <title>vuejs life cycle</title>
    </head>
    <body>
        <!--CREATE - beforeCreate - created - beforeMount - mounted - (ATTACHMENT 
           beforeUpdate - updated - EXTENTION) - beforeDestroy - destroyed -EXTINCTION-->
        <!--() part only available when data has changes-->
        <div id="ex">
            {{ msg }}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        
        <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;

            new Vue({
                el:"#ex",
                data:{
                    msg: "Hello!"
                },
                //it is FIRSt life cycle after create of instance: no data or method property: no access to DOM
                beforeCreate: function(){
                    console.log("beforeCreate")
                },
                //defined data/method property: access to those using 'this': but before attachment: no using template
                created: function(){
                    console.log("created")
                },
                //it can access to screen elements defined in template property. 
                //but, it invoked as soon as when instance attached to DOM, fianl HTML code timing will not be same to other additional elements. 
                mounted: function(){
                    console.log("mounted")
                    this.msg = "bye!"
                },
                //after changing of data, it processed after drawing the screen again with virtual DOM.
                //it is good timing to dd logic that is related to screen element handler
                //should use computed, watch
                //beforeUpdate: the logic that renew the data
                //updated: the login that is related to DOM of changed data 
                beforeUpdate: function(){
                    console.log("beforeUpdate")
                },
                
                updated: function(){
                    console.log("updated")
                } 

                //before destroy: still available to access to instance. good timing to delete the data in vue instance
                //destoy: calls after destroyment of vue instance. all the properties and lower level instances will also destroyed.  
            })
            
        </script>
    </body>
</html>