<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div id="watch-example">
            <p> yes/no question?
            <input v-model="question">
            </p>
            <p>{{answer}}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
        <script>
        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'I can"t answer till you make a questions.'
            },
            watch: {
                question: function (newQuestion) {
                this.answer = 'waiting for input...'
                this.getAnswer()
                }
            },
            methods: {
                getAnswer: _.debounce(
                function () {
                    if (this.question.indexOf('?') === -1) {
                    this.answer = 'You missed question mark)'
                    return
                    }
                    this.answer = 'thinking...'
                    var vm = this
                    axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = 'There are error in api request ' + error
                    })
                },
                500
            )
            }
        })
        </script>
    </body>
</html>