<html>
    <head>
        <title>List rendereing</title>
    </head>
    <body>
        <!--syntax: "item in items"-->
        <!--items: original data array-->
        <!--item: repeated items array element-->

        <ul id="ex1">
            <!--v-for block included all the parent's property authority-->
            <!--in a same time, v-for provides current list's index -->
            <li v-for="item in items">
                {{item.message}}
            </li>
        </ul>

        <!--multiple display-->
        <!--parent, index-->
        <ul id="ex2">
                <li v-for="(item, index) in items">
                    {{parentMessage}} - {{index}}- {{item.message}}
                </li>
        </ul>

        <!--can use of instead of in-->
        <ul id="ex3">
            <li v-for="(item, index) of items">
                {{parentMessage}} - {{index}}- {{item.message}}
            </li>
        </ul>

        <!--v-for and object iterate the values-->
        <ul id="ex4">
            <li v-for="value in object">
                {{value}}
            </li>
        </ul>

         <!--v-for and object iterate the key and values-->
        <ul id="ex5">
            <li v-for="(value, key) in object">
                {{key}} : {{value}}
            </li>
        </ul>

        <!--v-for and object iterate the key,index and values-->
        <ul id="ex6">
            <li v-for="(value, key, index) in object">
                {{index + 1}}, {{key}} : {{value}}
            </li>
        </ul>

        <!--v-for and array-->
        <ul id="ex7">
            <li v-for = "task in tasks">
                {{task.description}}
            </li>
        </ul>

        <ul id="ex8">
            <li v-for = "task in tasks" :key="task.id">
                {{task.description + " " +task.pet.name}}
            </li>
        </ul>
        <!--giving private key property. best key value is Id.-->
        <!--key value should not be list or object: use number or string-->
        <!--it need to binded using v-bind-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;

            var example1 = new Vue({
                el: "#ex1",
                data:{
                    items: [
                        {message: "Watermelon"},
                        {message: "Orange"},
                        {message: "Strawberry"}
                    ]
                }
            })

            var example2 = new Vue({
                el: "#ex2",
                data:{
                    
                    parentMessage: "I am Parent",
                    items: [
                        {message: "Watermelon"},
                        {message: "Orange"},
                        {message: "Strawberry"}
                    ]
                }
            })

            var example3 = new Vue({
                el: "#ex3",
                data:{
                    
                    parentMessage: "I am Parent",
                    items: [
                        {message: "Watermelon"},
                        {message: "Orange"},
                        {message: "Strawberry"}
                    ]
                }
            })

            var example4 = new Vue({
                el: "#ex4",
                data: {
                    object: {
                        firstName: 'Hyei-In',
                        lastName: 'Suh',
                        age: 28
                    }
                }
            })

            var example5 = new Vue({
                el: "#ex5",
                data: {
                    object: {
                        firstName: 'Hyei-In',
                        lastName: 'Suh',
                        age: 28
                    }
                }
            })

            var example6 = new Vue({
                el: "#ex6",
                data: {
                    object: {
                        firstName: 'Hyei-In',
                        lastName: 'Suh',
                        age: 28
                    }
                }
            })

            var example7 = new Vue({
                el:"#ex7",
                data: {
                    tasks: [
                        {description: "drying"},
                        {description: "washing"},
                        {description: "cleaning"}
                    ]
                }
            })

            var example8 = new Vue({
                el:"#ex8",
                data: {
                    tasks: [
                        {
                            id: "task1",
                            pet :{
                                id: "pet1",
                                type: "dog",
                                name: "puppy"
                            },
                            description: "Wash"
                        }
                    ]
                }
            })
        </script>
    </body>
</html>