<html>
    <head>
        <title>Form binding</title>
    </head>
    <body>
        <!--generate interactive data binding to elements using v-model directive -->
        <!-- v-model ignores all the form element's initial properties, such as value/checcked/selected-->
      >  <div id="ex1">
            <input v-model="message" placeholder="여기를 수정해보세요">
            <p>메시지 : {{ message }} </p>
      </div>

        <!--multiple lines of text-->
        <div id="ex2">
        <span>Multiple line messages:</span>
        <p>{{ msg }}</p>
        <br>
        <textarea v-model="msg" placeholder="enter the multiple line paragraph"></textarea>
        </div>

        <!--checkbox : one checkbox gets one boolean value-->
        <div id="ex3">
        <input type = "checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        </div>

        <!--multiple check box binding-->
        <div id="ex4">
            <input type="checkbox" id="hyein" value="hyein" v-model="checkedNames">
            <label for="hyein">Hyein</label>
            <input type="checkbox" id="moe" value="moe" v-model="checkedNames">
            <label for="moe">moe</label>
            <input type="checkbox" id="harry" value="harry" v-model="checkedNames">
            <label for="harry">harry</label>
            <br>
            <span>checked name: {{ checkedNames }}</span>
        </div>

        <!--radio button-->
        <div id="ex5">
            <input type="radio" id="bread" value="Bread" v-model="breakfastMenu">
            <label for="bread">Bread</label>
            <br>
            <input type="radio" id="rice" value="Rice" v-model="breakfastMenu">
            <label for="rice">Rice</label>
            <br>
            <span> You selected {{ breakfastMenu }} for your breakfast</span>
        </div>
        
        <!--select-->
        <div id="ex6">
            <select v-model="selected">
                <option disabled value="">Please Select One</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>selected: {{ selected }}</span><br>
        </div>

        <!--select multiple-->
        <div id="ex7">
            <select v-model="selectedm" multiple>
                <option disabled value="">Please Select One</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>selected: {{ selectedm }}</span>
        </div>

        <!--rander dynamic options using v-for-->
        <div id="ex8" multiple>
            <select v-model="selectedDyn">
                <option v-for="option in options" v-bind:value = "option.value">
                    {{ option.text }}
                </option>
            </select>
            <span>Selected : {{ selectedDyn }}</span>
        </div>

        <!--value binding-->
        <input type="radio" v-model="picked" value="a"><!--value "a"-->
        <input type="radio" v-model="toggle"><!--t/f-->
        <select v-model="selected">
            <option value="abc">ABC</option><!--abc-->
        </select>

        <!--dynamic value binding-->
        <div id="ex9">
            <input type="checkbox" type="checkbox" v-model="toggle" true-value="yes" false-value="no">
            <span>{{ toggle }}</span>
        </div>

        <!--inline-->
        <div id="ex10">
            <select v-model="selected">
            <option v-bind:value="{number: 123}">ABC</option>
        </select>
        </div>

        <!--v-model .lazy: it doesnt process stright away. It happens when events called kind of press enter or outfoucsed -->
        <!--v-model .number: changes string to numeric automatically-->
        <div id="ex11">
            <input type="text" v-model.number="test">
            {{typeof test}}
        </div>
        
        <!--vmodel .trim: eliminates white space between two inputs-->
        <idv id="ex12">
            <input type="text"  v-model.trim="test">
            {{ test }}
        </idv>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;
            
            var example1 = new Vue({
                el:"#ex1",
                data:{
                    'message' : ''
                }
            })

            var example2 = new Vue({
                el:"#ex2",
                data:{
                    'msg': ''
                }
            })

            var example3 = new Vue({
                el:"#ex3",
                data: {
                    checked : true
                }
            })

            new Vue({
                el: "#ex4",
                data: {
                    checkedNames: []
                }
            })

            new Vue({
                el: "#ex5",
                data:{
                    breakfastMenu: ''
                }
            })

            new Vue({
                el: "#ex6",
                data:{
                    selected: ' '
                }
            })

            new Vue({
                el: "#ex7",
                data:{
                    selectedm: [ ]
                }
            })

            new Vue({
                el:"#ex8",
                data:{
                    selectedDyn: [],
                    options: [
                        {text: 'Hello', value: 'A'},
                        {text: 'Hi', value: 'B'},
                        {text: 'Bye', value: 'C'}
                    ]
                }
            })

            new Vue({
                el:"#ex9",
                data:{
                    toggle: ''
                }
            })

            var example10 = new Vue({
                el: "#ex10",
                data:{
                    selected:''
                }
            })

            var exmaple11 = new Vue({
                el: "#ex11",
                data: {
                    test: 5
                }
            })

            new Vue({
                el:"#ex12",
                data:{
                    test: "    567     "
                }
            })
        </script>
    </body>
</html>