<html>
    <head>
        <title>Relationship between lower and higher level componetns</title>
    </head>
    <body>
        <div id="ex">
        <child-component v-bind:datas="msg"></child-component>
        </div>

        <div id="ex2">
        <child-com v-on:show-log="printText"></child-com>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;
            //props should defined in lower component property    
            //v-bind to child tag using higher components data property
            //<child-component></child-component>
            //<child-component v-bind:props property name = "higher component data property"></child-component>
            
            //even tho there are no  upper level component,
            //as soon as regiestering the component, vue instance will become higher level component
            Vue.component('child-component', {
                props:['datas'],
                template: '<p>{{ datas }}</p>'
            });

            new Vue({
                el: "#ex",
                data: {
                    msg : "passsed from parent component"
                }
            })

            Vue.component('child-com',{
                template: '<button @click="showLog">show</button>',
                methods: {
                    showLog: function(){
                        this.$emit('show-log');
                    }
                }
            })

            new Vue({
                el:"#ex2",
                data:{
                    msg: ''
                },
                methods:{
                    printText: function(){
                        console.log("received")
                    }
                }
            })
            //like this, if u register another component, the component that existed before,
            //become higer level component. and the instance that take the registration of
            //new components, we call it Root Component

            //Vue: is for the single directed data flow.
            // event sending and recieving format: $emit, v-on
            // this.$emit('eventName') - invoke event : normally within lower component's specific method
            // this = lower component
            //<child-component v-on:eventName='methodname from upper component'></>
            //receiving: within the tag to register the lower component. use v-on:
        </script>
    </body>
</html>