<html>
    <head>
        <title>Return the changed array without changing original array</title>
    </head>
    <body>
       <!--filter(), concat(), slice()-->
       <!--these ways always return the new array without changing orginal array-->
       <ul id="ex1">
            <li v-for="item in items">{{item.list}}</li>
       </ul>
       <!--vue.js cannot recognize the changes about below items-->
       <!--1. when u set the new item manually : example1.items[index] = 5-->
       <!--to overcome this, u should use splice or set
            Vue.set(example1.items, index, 5)
            example1.items.splice(index, 1, 5)-->
       <!--2. when u adjust the array length: example1.items.length = 10 -->
       <!--to overcome this, u should use splice
            example1.items.splice(10)-->

        <ul id="ex2">
            <li v-for="n in evenNumbers">{{ n }}</li>
        </ul>

        <ul id="ex3">
            <li v-for="n in even(nums)"> {{ n }} </li>
        </ul>

        <!--range v-for-->
        <ul id="ex4">
            <span v-for="num in 20" >{{ num }}</span>
        </ul>

        <!--v-for/v-if-->
        <!--v-for has priority than v-if-->
        
        <!--v-for and component-->
        <my-component v-for="item in items" :key="item.id"></my-component>

        <div id="ex5">
        <input v-model="newTodoList" v-on:keyup.enter = "addNew" placeholder="Add a list">
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key = "todo.id" 
                v-bind:title = "todo.title" v-on:remove="todos.splice(index,1)">
            </li>
        </ul>
        </div>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
       <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;

            Vue.component('todo-item', {
                template: `\
                    <li>\
                    {{ title }}\
                    <button v-on:click="$emit(\'remove\')"> X </button>\
                    </li>\
                    `,
                props: ['title']
            })

            new Vue({
                el: "#ex5",
                data:{
                    newTodoList: '',
                    todos: [
                        {
                            id:1,
                            title: 'Wash the dishes'
                        },
                        {
                            id:2,
                            title: 'Take out the rubbish'
                        },
                        {
                            id:3,
                            title: 'Mow the lawn'
                        }
                    ],
                    nextTodoId: 4
                },
                methods:{
                    addNew: function(){
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoList
                        })
                        this.newTodoList = ''
                    }
                }
            })

            var example1 = new Vue({
               el: "#ex1",
               data: {
                   items: [
                       {list: "bread"},
                       {list: "milk"},
                       {list: "butter"},
                       {list: "sugar"}
                   ]
               }
           })

        //    example1.items = example1.items.filter(function(item){
        //        return item.list.match(/bread/)
        //    })

        //vue.js doesnt allow to add the responsive property in ready-made instance within new route level dynamically.
        //But u can use set for this. Vue.set(object, key, value) or vm/$set(this.object, key, value)
        //still u can use Object.assign(this.userProfile, { age: 27})
        // this.userProfile = Object.assign({},this.userPorfile, {age:27})

            var example2 = new Vue({
                el:"#ex2",
                data:{
                    numbers: [1,2,3,4,5]
                },
                //computed : when there is no data changes, 
                computed: {
                    evenNumbers: function(){
                        return this.numbers.filter(function(number){
                            return number % 2 === 0
                        })
                    }
                }
            })

            //when u cannot prcess calculated property,  u can use below methods
            var example3 = new Vue({
                el: "#ex3",
                data:{
                    nums: [6,7,8,9,10]
                },
                methods: {
                    even: function(nums){
                        return nums.filter(function(num){
                            return num % 2 === 0
                        })
                    }
                }
            })

            var example4 = new Vue({
                el: "#ex4"
            })

          
        </script>
    </body>
</html>