<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="app">
            <p>{{message}}</p>
        </div>

        <div id="app2">
            <span v-bind:title="message">here to see title!</span>
        </div>

        <div id="app3">
            <p v-if="visible">make it visible!</p>
        </div>

        <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>

        <div id="app5">
            <p>{{message}}</p>
            <button v-on:click="reverseMsg">reverse message</button>
        </div>
        
        <div id="app6">
            <p>{{msg}}</p>
            <input type="text" v-model="msg">
        </div>

        <div id="app7">
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
        var msg = new Vue({
            'el':'#app',
            'data': {
                message: 'Hello World!'
            }
        })

        var msg2 = new Vue({
            'el':'#app2',
            'data': {
                message: "this page loaded on " + new Date() 
            }
        })

        var hidden = new Vue({
            'el': '#app3',
            'data': {
                visible: true
            }
        })

        var loop = new Vue({
            'el': '#app4',
            'data' : {
                todos:[
                    {text: 'Learning Vue.js'},
                    {text: 'Learning python'},
                    {text: 'Learning Django'},
                    {text: 'Learning Web Server'}
                ]
            }
        })

        var interact = new Vue({
            'el' : '#app5',
            'data': {
                    message: "Hello My name is Hyein!"
            },
            'methods': {
                reverseMsg: function(){
                    this.message = this.message.split('').reverse().join('')
                }
            } 
        })

        var textBox = new Vue({
            'el': '#app6',
            'data': {
                msg : "Hi I am a Pineapple"
            }
        })

        Vue.component('todo-item',{
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        var vBindPrac = new Vue({
            el: '#app7',
            data: {
                groceryList: [
                    {id: 0, text:'Fishes'},
                    {id: 1, text: 'Rice'},
                    {id: 2, text: 'Ramen'},
                    {id: 3, text: 'meat'}
                ]
            }
        })

        </script>
    </body>
</html>