<html>
    <head>
        <title>Component1</title>
    </head>
    <body>
        <!--Component?-->
        <!--It capsulize the basic HTML elements to make it reusable-->
        <!--it is user selected element that added the behaviour by vue's compiler-->
        <!--Vue component = Vue instance -->

        <div id="ex1">
            <my-component></my-component>
            <your-component></your-component>
        </div>

        <div id="ex2">
            <my-component></my-component>
            <your-component></your-component>
        </div>

        <!--template: some tags has restriction. such as <ul> <ol> <table> <select>...-->
        <!--because it has limit of the tags that can used within parent tags-->
        
        <!-- <table>
            <my-row></my-row>
        </table> -----will return the error-->

        <!--'is' word can solve this problem-->
        <table>
            <tr is="my-row"></tr>
        </table>

        <div id="ex3">
        <my-test></my-test>
        <my-test></my-test>
        <my-test></my-test>
        </div>  

        <!--data should be function-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
        //Global component : Vue.component(tagName, options)
        //register
        Vue.component('my-component',{ 
            template: `<div>this is user global component</div>`
        })

        //after register the global component : u can use in instance template 
        //route instance 
        new Vue({
            el: "#ex1"
        })
        
        //local component : register the component as option of another components so u can use it
        //only within that component

        var Child = {
            template: '<div>this is local component</div>'
        }

        new Vue({
            el: '#ex1',
            components: {
                'your-component' : Child
            }
        })

        //only shows the global component in ex2
        new Vue({
            el: "#ex2"
        })

        // this occur error
        // Vue.component('my-test', {
        //     template: '<span>{{ msg }}</span>',
        //     data: {
        //         msg: 'hello'
        //     }
        // })

        // new Vue({
        //     el: "#ex3"
        // })
        
        // var data = {counter: 0 }

        Vue.component('my-test',{
            template: `<button v-on:click="counter += 2"> {{ counter }}</button>`,
            data: function(){
                return{    
                    counter: 0
                }
            } 
        })

        new Vue({
            el: "#ex3",
            
        })
        </script>
    </body>
</html>
