<html>
    <head>
        <title>Props and Events</title>
    </head>
    <body>
        <!--Pass props : passing the data from Parents to child  : Props, 
            Emit Events : passing the message from Child to parents: events -->
        <div id="ex1">
            <child-com v-bind:message="message"></child-com>
        </div>

        <div id="ex2">
            <child-com v-bind:message="message"></child-com>
        </div>

        <!--Props-->
        <!--Each component instance has the own isolated range.-->
        <!--so, lower lever component template cannot refer the higher level data directly-->
        <!--Props make the higer level component data pass to the lower level data -->

        <!--dynamic props-->
        <!--use v-bind-->
        <!--binding props dynamically on parent's data/ when higher level updates, it pass to the lowerlevel data-->
        <div id="ex3">
            <child v-bind:my-message="myMessage"></child>
        </div>

        <div id="ex4">
            <input v-model="parentMsg">
            <br>
            <!-- <child v-bind:my-message="parentMsg"></child> -->
            <child :my-message="parentMsg"></child>
        </div>

        <!--if you want to pass all the properties of object, u can simply use v-bind-->
        <!--cautious to pass the number using inline literal. : it retuns string -->
        <!--u should use v-bind to pass it as a number <comp v-bind:some-prop = "2">-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
       
        <script>
        Vue.config.debug = true; 
        Vue.config.devtools = true;

        Vue.component('child-com', {
            props: ['message'],
            template: `<span>{{ message }}</span>`
        }) 
       
        new Vue({
            el:"#ex1",
            data: {
                message: "how are you?"
            }
        })

        new Vue({
            el:"#ex2",
            data: {
                message: "What are you doing??"
            }
        })

        Vue.component('child', {
            props: ['myMessage'],
            template: '<p>{{ myMessage }}</p>'
        })
        
        new Vue({
            el:"#ex3",
            data: {
                myMessage: "ilovemoe"
            }
        })

        new Vue({
            el:"#ex4",
            data:{
                parentMsg:"edit here"
            }
        })
        </script> 
    </body>
</html>