<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id='app1'>
            <p>{{foo}}</p>
            <button v-on:click="foo = 'baz'">change it</button>
        </div>

        <div id='app2'>
            <p>original: "{{msg}}</p>
            <p>reversed: "{{reversedMsg}}"</p>
        </div>

        <div id='app3'>
            {{fullName}}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var vm4 = new Vue({
                el: '#app3',
                data: {
                    firstName: "Hyiein",
                    lastName: "Suh"
                },
                computed: {
                    fullName: function(){
                        return this.firstName + ' ' +  this.lastName
                    }
                }
            })

            var vm5 = new Vue({
                el: '#app3',
                data: {
                    firstName: "Hyiein",
                    lastName: "Suh"
                },
                computed: {
                    fullName:{
                        get:function(){
                            return this.firstName + ' ' +  this.lastName
                        },
                        set: function(newVal){
                            var names = newVal.split(' ')
                            this.firstName = names[0];
                            this.lastName =names[1];
                        }
                    }
                }
            })
            var vm3 = new Vue({
                el: '#app2',
                data: {
                    msg: "hi how are you"
                },
                computed: {
                    reversedMsg: function(){
                        return this.msg.split('').reverse().join('')
                    }
                }
            })

            var data = {a:1}
            var vm = new Vue({
                data: data
            })
            
            console.log(vm.a === data.a)

            var data1 = {
                newTodoText: '',
                visitCount: 0,
                hideCompletedTodos: false,
                todos:[],
                error: null
            }
            
            var vm1= new Vue({
                data: data1
            })

            var obj ={
                foo: 'bar'
            }

            // Object.freeze(obj)

            new Vue({
                el: '#app1',
                data: obj
            })
        
            var data2 = {a:1}
            var vm2 = new Vue({
                el: '#example',
                data: data2
            })
            
            new Vue({
                data: {
                    a: 1,
                    b: 2
                },
                created: function(){
                    console.log('a is' + this.a + 'b is' + this.bh)
                }
            })
       
       </script>
    </body>
</html>