<html>
    <head>
        <title>v-if rendoring</title>
    </head>
    <body>
        <!--Vue v-if directive-->
       <h1 v-if="ok">Yes</h1>

       <!--Vue v-if, v-else directive-->
       <h1 v-if="ok">Yes</h1>
       <h1 v-else>No</h1>

       <!--more than one element-->
       <template v-if="ok">
           <h1>Title</h1>
           <p>paragraph</p>
           <p>paragraph</p>
       </template>

       <!--v-else-->
       <div id="ex2">
            <div v-if="number > 50">
                you can see me now
            </div>
            <div v-else>
                you can't see me now
            </div>
       </div>

       <!--v-if/v-else using mathmatics-->
       <div id="ex3">
            <div v-if="Mathrand > 0.5">
                bigger than 0.5
            </div>
            <div v-else>
                smaller than 0.5
            </div>
       </div>

       <!--v-else-if-->
       <div id="ex4">
           <div v-if="score >= 80">
               A+
           </div>
           <div v-else-if="score >= 60">
               B+
           </div>
           <div v-else-if="score >= 40">
               C+
           </div>
           <div v-else>
               FAIL
           </div>
       </div>

        <!--control reusable element using key-->
        <!--because they are using same element, <input> is not replace. Only placeholder changes-->
        <!--make people to enable to transition to differet login type-->
        <!--probably..when we can login using username either email, when people type email
        in field instead of username, and they need to change to email palce holder, so they
        can login using email, this helps people to not to retype the email address?-->
        <div id="ex5">
        <template v-if="loginType === 'username'">
            <label>user name</label>
            <input placeholder="Enter the user name">
        </template>
        <template v-else>
            <label>e-mail</label>
            <input placeholder="Enter your email address">
        </template> 
        <button @click="button_handler">
            <span>Change Login Type</span>
        </button>
        </div>  

        <!--it is not always good to use upon way-->
        <!--add key-->
        <!--input field initialize whenever it get transit-->
        <div id="ex6">
        <template v-if="loginType === 'username'">
            <label>user name</label>
            <input placeholder="Enter the user name" key="username-input">
        </template>
        <template v-else>
            <label>e-mail</label>
            <input placeholder="Enter your email address" key="email-input">
        </template> 
        <button @click="button_handler">
            <span>Change Login Type</span>
        </button>
        </div>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
       <script>
           Vue.config.debug = true; 
           Vue.config.devtools = true;

        // <!--v-else-->
        new Vue({
            el:"#ex2",
            data: {
                "number": 51
            }
        })

        //v-else using mathematics
        new Vue({
            el:"#ex3",
            data: {
                "Mathrand": Math.random() 
            }
        })

        //v-esle-if
        new Vue({
            el:"#ex4",
            data: {
                "score": 100
            }
        })

        //keeping the input and only changes placeholder
        new Vue({
            el:"#ex5",
            data:{
                "loginType": "username"
            },
            methods:{
                button_handler: function(){
                    if(this.loginType === 'username'){
                        this.loginType = !this.loginType
                    }
                    else{
                        this.loginType = 'username'
                    }
               }
            }
        })

        //reset the input when it has transition to different login type
        new Vue({
            el:"#ex6",
            data:{
                "loginType": "username"
            },
            methods:{
                button_handler: function(){
                    if(this.loginType === 'username'){
                        this.loginType = !this.loginType
                    }
                    else{
                        this.loginType = 'username'
                    }
               }
            }
        })
       </script>
    </body>
</html>