<html>
    <head>
        <title>v-on user event</title>
    </head>
    <body>
        <!--$on(eventName): recognize event , $emit(eventName): trigger the event/recognize the event from chlid-->
        <!--different from addEventListener or dispatchEvent-->
        <!--parent component can listen to the event from template using child component using v-on-->
        <!--$on doesn't recognize the event invoked from child-->

        <div id="ex1">
            <p>{{ total }}</p>
            <button-counter v-on:increment="incrementTot"></button-counter>
            <button-counter v-on:increment="incrementTot"></button-counter>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    
        <script>
            Vue.component('button-counter', {
                template: `<button v-on:click="incrementCounter">{{counter}}</button>`,
                data: function(){
                    return{
                        counter:0
                    }
                },
                methods: {
                    incrementCounter: function(){
                        this.counter += 1
                        this.$emit('increment')
                    }
                }
            })

            new Vue({
                el: "#ex1",
                data: {
                    total:0
                },
                methods:{
                    incrementTot: function(){
                        this.total += 1
                    }
                }
            })
        </script>
        
    </body>
</html>