<html>
    <head>
        <title>Vue.js start</title>
    </head>
    <body>
        <div>Overview of Vue.js basic </div>
        <!--component-->
        <div id="vue-app">
            <input-holder 
                @message="changeMsg"
                v-bind:msg="msg" v-bind:msg_active = "msg_active" 
                v-bind:button_handler="button_handler">
            </input-holder>
            <!--component-->
            <!-- <div>
                <input type="text" v-model="msg">
                <button @click="button_handler">
                    <span v-if="msg_active">Hide</span>
                    <span v-else>Show</span>
                </button>
            </div> -->
            <!--component-->
            <msg-holder v-bind:msg = "msg" v-bind:msg_active = "msg_active"></msg-holder>
            <msg-holder v-bind:msg = "msg" v-bind:msg_active = "msg_active"></msg-holder>
            <!-- <div v-if="msg_active">
            {{msg}}
            </div> -->
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
            //template : view 를 구성하는 html class 같은것 & props: binding 할 data 가져오는거
            Vue.component('msg-holder', {
                props: ['msg', 'msg_active'],
                template: '<div v-if="msg_active">{{msg}}</div>'
            });

            Vue.component('input-holder', {
                props: ['msg', 'msg_active', 'button_handler'],
                template: 

                `<div>
                    <input type="text" v-model="msg" @input="$emit('message', $event.target.value)">
                    <button @click="button_handler">
                        <span v-if="msg_active">Hide</span>
                        <span v-else>Show</span>
                    </button>
                </div>`
            });
            
            var vueApp = new Vue({
                'el': '#vue-app',
                'data' : {
                    'msg' : 'vue.js',
                    'msg_active' : true
                },
                methods:{
                    button_handler: function(){
                        this.msg_active= !this.msg_active
                    },
                    
                    changeMsg: function(msg){
                        this.msg = msg;
                    }
                }
            });
        </script>
    </body>
</html>