<html>
    <head>
        <title>advanced template</title>
    </head>
    <body>
        <!--computed-->
        <div id="ex1">
            <p> {{ reversedMsg }}</p>
        </div>
        <!--methods-->
        <div id="ex2">
            <p> {{ msg }} </p>
            <button @click="reverseMsg">Reverse!</button>
        </div>

        <!--watch-->
        <div id='ex3'>
            <input v-model="message">
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
                Vue.config.debug = true; 
                Vue.config.devtools = true;
                //computed : 
                //1. it automatically recalculate according to data property changing
                //2. caching : to do the repetitive claculate, it contains saved calculated results and call back when it needs
                var exa1 = new Vue({
                    el:"#ex1",
                    data: {
                        msg: "this is computed"
                    },
                    computed: {
                        reversedMsg: function(){
                            return this.msg.split('').reverse().join('');
                        }
                    }
                })

                //methods:
                //it only works when it invokes(manually)e
                var exa2 = new Vue({
                    el:"#ex2",
                    data: {
                        msg: "this is method"
                    },
                    methods: {
                        reverseMsg: function(){
                            this.msg = this.msg.split('').reverse().join('');
                            return this.msg;
                        }
                    }
                })

                //watch:
                //1. it automatically eidt the specific logic recognizing the changes of data
                //2. similar as computed but it requires more complicated works like data calling
                //3. asynchronous data invoking
                new Vue({
                    el: "#ex3",
                    data:{
                        message: "this is watch"
                    },
                    watch:{
                      message: function(data){
                          console.log(`message value cahnges: ${data}`);
                      }
                    }
                })

               
        </script>
    </body>
</html>