<html>
    <head>
        <title>Event Handling</title>
    </head>
    <body>
    <!--v-on directive-->
    <!-- you can store the js in v-on property like below-->
    <div id="ex1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>you clicked the button {{ counter }} times</p>
    </div>
    <!--however, normally eventhandler logic is way more complicated-->
    <div id="ex2">
        <button v-on:click="greet">Greeting</button>
    </div>

    <!--inline handler-->
    <div id="ex3">
        <button v-on:click="say('hi')">Say Hi</button>
        <button v-on:click="say('what')">Say what</button>
    </div>

    <!--inline handler : access to DOM event : $event-->
    <div id="ex4">
        <button v-on:click="warning('Form cannot be submitted yet', $event)">
            submit
        </button>
    </div>
    
    <div id="ex5">
        <input v-on:keyup.enter = "submit">
    </div>

    <div id="ex6">
        <!--does work with ctrl + a -->
        <button @click.ctrl = "onClick">A</button>
        <!--only work with ctrl-->
        <button @click.ctrl.exact="onCtrlClick">B</button>
        <!--only work without key-->
        <button @click.exact = "onClick">C</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
            Vue.config.debug = true; 
            Vue.config.devtools = true;

            var example1 = new Vue({
                el:"#ex1",
                data:{
                    counter: 0
                }
            })

            var exmaple2 = new Vue({
                el: "#ex2",
                data:{
                    name: 'Hyeiin'
                },
                methods:{
                    greet: function(event){
                        alert('Hello ' + this.name + "!")
                        // if(event) {
                        //     alert(event.target.tagName)
                        // }
                    }
                }
            })

            //invoke method using js
            exmaple2.greet()
            
            new Vue({
                el: "#ex3",
                methods: {
                    say:function(message){
                    alert(message)
                }
                }
            })

            new Vue({
                el:"#ex4",
                methods: {
                    warning: function(message, event) {
                        // if(event) event.preventDefault()
                        alert(message)
                    }
                }
            })

            new Vue({
                el:"#ex5",
                methods:{
                    submit: function(event) {
                        alert("submitted!")
                    }
                }
            })

            new Vue({
                el: "#ex6",
                methods:{
                    onClick: function(event){
                        alert("A!")
                    },
                    onCtrlClick: function(event){
                        alert("B!")
                    }
                }
            })
    </script>
    </body>
</html>